{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- AUTHOR PAGE -->
<div class="course-page-wrapper">
    <!-- AUTHOR PAGE - COLUMN 1 -->
    <div class="column-1">
        <div class="col-1">
            <div class="course-wrapper">
                <div class="col1-course-image">
                    <img src="{{author.userprofile.avatar.url}}" alt="">
                </div>
            </div>

            <div class="author-name">
                {{author.userprofile.name|upper}}
            </div>

            <div>
                <div class="col1-course-contains">
                    <div class="course-contains-header">Autor stworzył:</div> 
                    <hr>
                    <ul>
                        {% if courses.count == 1 %}
                        <li class="li-lessons">{{courses.count}} kurs</li>
                        {% elif courses.count == 2 or courses.count == 3 or courses.count == 4 %}
                        <li class="li-lessons">{{courses.count}} kursy</li>
                        {% else %}
                        <li class="li-lessons">{{courses.count}} kursów</li>
                        {% endif %}

                        {% if chapters_count == 1 %}
                        <li class="li-exercises">{{chapters_count}} rozdział</li>
                        {% elif chapters_count == 2 or chapters_count == 3 or chapters_count == 4 %}
                        <li class="li-exercises">{{chapters_count}} rozdziały</li>
                        {% else %}
                        <li class="li-exercises">{{chapters_count}} rozdziałów</li>
                        {% endif %}

                        {% if lessons_count == 1 %}
                        <li class="li-movies">{{lessons_count}} lekcja</li>
                        {% elif lessons_count == 2 or lessons_count == 3 or lessons_count == 4 %}
                        <li class="li-movies">{{lessons_count}} lekcje</li>
                        {% else %}
                        <li class="li-movies">{{lessons_count}} lekcji</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="author-name2">
            {{author.userprofile.name|upper}}
        </div>

        <div class="course-overwiew">
            <div class="course-title">O autorze</div>
            <hr>
            <div class="course-short-description">
                {{author.userprofile.about}}
            </div>
        </div>

        <hr>
        <div class="author-courses-header">
            KURSY AUTORA
        </div>
        <hr>
    
        <div class="author-courses-wrapper">
    
            {% for course in courses %}
            <div class="author-course-wrapper">
                <a href="{% url 'course-info' course.id %}">
                    <div class="course-icon"><img src="{{course.image.url}}" alt=""></div>
                    <div class="course-title">{{course.course_name}}</div>
                    <div class="course-author">{{course.author.userprofile.name}}</div>
                    <!-- <div class="course-mark">4,9 <div class="votes-count">(95)</div></div> -->
                </a>
            </div>
            {% endfor %}
            
        </div>

    </div>
    
    
    <!-- AUTHOR PAGE - COLUMN 2 -->
    <div class="column-2">
        <div class="course-wrapper">
            <div class="author-image">
                <img src="{{author.userprofile.avatar.url}}" alt="">
            </div>
        </div>

        <div>
            <div class="course-contains">
                <div class="course-contains-header">Autor stworzył:</div> 
                <hr>
                <ul>
                    {% if courses.count == 1 %}
                    <li class="li-lessons">{{courses.count}} kurs</li>
                    {% elif courses.count == 2 or courses.count == 3 or courses.count == 4 %}
                    <li class="li-lessons">{{courses.count}} kursy</li>
                    {% else %}
                    <li class="li-lessons">{{courses.count}} kursów</li>
                    {% endif %}

                    {% if chapters_count == 1 %}
                    <li class="li-exercises">{{chapters_count}} rozdział</li>
                    {% elif chapters_count == 2 or chapters_count == 3 or chapters_count == 4 %}
                    <li class="li-exercises">{{chapters_count}} rozdziały</li>
                    {% else %}
                    <li class="li-exercises">{{chapters_count}} rozdziałów</li>
                    {% endif %}

                    {% if lessons_count == 1 %}
                    <li class="li-movies">{{lessons_count}} lekcja</li>
                    {% elif lessons_count == 2 or lessons_count == 3 or lessons_count == 4 %}
                    <li class="li-movies">{{lessons_count}} lekcje</li>
                    {% else %}
                    <li class="li-movies">{{lessons_count}} lekcji</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
