{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- COURSE EDITION PAGE - COURSE DATA  -->
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="course-edition-wrapper">
        <div class="login-title">ROZDZIAŁ: <br><br>
            {{chapter}}<br><br>
        </div> 
        <hr>

        {% for field in form %}
        <div class="form-field">
            {{field.label_tag}}
            <br><br>
            {{field}}
            <br>
        </div>
        {% endfor %}
        
        <hr>
        <input type="submit" class="save-changes" value="Dodaj lekcję">
        <a href="{% url 'chapter-edit' chapter.id %}">
            <input type="button" class="cancel-changes" value="NIE dodawaj lekcji">
        </a>
        <hr>
    </div>
</form>

{% endblock content %}
